name: eig3x3

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install .[dev,benchmarks] -v
    - name: Pytest
      run: |
        pytest benchmarks/test_eigvals.py -v